<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="UmayFinalOOP.My.MySettings.ohmysalondbConnectionString"
            connectionString="server=localhost;user id=root;password=qwerty;persistsecurityinfo=False;database=ohmysalondb"
            providerName="MySql.Data.MySqlClient" />
        <add name="UmayFinalOOP.My.MySettings.ohmysalondbConnectionString1"
            connectionString="server=localhost;user id=root;password=qwerty;persistsecurityinfo=True;database=ohmysalondb"
            providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>